<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Assistant</title>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" href="/images/icon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oxygen&family=Raleway:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <span id="time">Time</span><span id="day">Day</span>
    <img id="background" alt="Background" />
    

      <div id="container">
        <span class="disp">
          Good <span id="greetMsg"></span>, <%= name %> :)
        </span>
      </div>
    
    <div id="weather" class="disp">
      <b
        >It's
        <span id="tempDisp"><%=temp%>&deg;C </span>
        outside in <br />
        <span id="cityDisp"><%= city %></span>.
      </b>
    </div>
    <div id="greet" class="disp">
      Have a Great.. <span id="moodMsg"> </span> !!
    </div>
    <div id="searchBox">
      <span
        class="tabs"
        onclick="window.location.href='https://www.google.com'"
      >
        <img src="/images/google.png" />
        Google
      </span>
      <span
        class="tabs"
        onclick="window.location.href='https://www.youtube.com'"
      >
        <img src="/images/youtube.png" />
        Youtube
      </span>
      <span
        class="tabs"
        onclick="window.location.href='https://www.github.com'"
      >
        <img src="/images/github.png" />
        Github
      </span>
      <span
        class="tabs"
        onclick="window.location.href='https://web.whatsapp.com'"
      >
        <img src="/images/whatsapp.png" />
        Whatsapp
      </span>
    </div>
    <div id="quote">
      <span class="quote"><%= quoteText%></span>
    </div>
    <div id="author">
      <span class="quote">-<%=quoteAuthor%></span>
    </div>
  </body>
  <script src="/js/javascript.js"></script>
</html>
